{% extends "base.html" %}

{% block title %}All threads{% endblock %}

{% block content %}

{% if session.username %}
  <h2>New thread</h2>

  <form action="/new_thread" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" required />
    </p>

    <p>
      Topic: <br />
      <select name="topic_id" required>
        <option value="">-- Select a topic --</option>
        {% for topic in topics %}
          <option value="{{ topic.id }}">{{ topic.name }}</option>
        {% endfor %}
      </select>
    </p>

    <p>
      Message: <br />
      <textarea name="content" rows="5" cols="40" required></textarea>
    </p>

    <input type="submit" value="Submit" />
  </form>
{% endif %}


{% for thread in threads %}
  <p>
    <a href="/thread/{{ thread.id }}">{{ thread.title }}</a> in {{ thread.topic_name or 'No topic' }}<br />
    {{ thread.total }} posts in thread, most recent {{ thread.last }}
  </p>
{% endfor %}


{% endblock %}
