<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Top navigation visible everywhere -->
    <nav class="navbar">
        <div class="navbar-left">
            <a class="active" href="/">Home</a>
            <a href="/all_threads">All threads | New thread</a>
            <a href="/find_post">Search posts</a>

            {% if session.username %}
                <a href="{{ url_for('user_page', username=session['username']) }}">My profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        {% if session.username %}
            <div class="navbar-right">
                <span class="username">{{ session.username }}</span>
                <img src="{{ url_for('static', filename=current_user.profile_picture.replace('static/', '')) }}" alt="Profile Picture" class="profile-pic mb-2">
            </div>
        {% else %}
            <div class="navbar-left">
                <a href="{{ url_for('login_page') }}">Login</a>
                <a href="{{ url_for('register_page') }}">Register</a>
            </div>
        {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p class="alert">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Here is page-specific content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Pagination at bottom -->
    {% set page = page | default(1, true) %}
    {% set page_count = page_count | default(1, true) %}

    {% if page and page_count %}
    <hr />
    <div class="text-center mt-4">
        {% if page > 1 %}
        <a href="{{ pagination_base }}/{{ page - 1 }}">&laquo;</a>
        {% endif %}
        Page {{ page }}/{{ page_count }}
        {% if page < page_count %}
        <a href="{{ pagination_base }}/{{ page + 1 }}">&raquo;</a>
        {% endif %}
    </div>
    <hr />
    {% endif %}

</body>
</html>
