{% extends "base.html" %}

{% block title %}Front page{% endblock %}

{% block content %}
  <h1>Welcome to the official website for the secret society message board!</h1>

  <!--This block tells about necessary messages, such as logout successful-->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% endwith %}
  
  {% if session.username %}
  <p>Hello {{ session.username }}</p>
  {% else %}
  <p>You are not logged in.</p>
  {% endif %}


  <h2>Latest posts</h2>
  <ul>
    {% for post in posts %}
      <li>
        <strong>{{ post.username }}</strong> in 
        <a href="/thread/{{ post.thread_id }}">{{ post.thread_title }}</a>
        ({{ post.created_at }}):
        <p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}