<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Frontpage</title>
</head>

 <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/all_threads">All threads</a>
  {% if session.username %}
  <a href="/userpage">User page</a>
  <a href="/logout">Logout</a>
  {% else %}
  <a href="/loginpage">Login</a>
  <a href="/registerpage">Register</a>
  {% endif %}
</div> 

<body>
  <h1>Welcome to the official website for the secret society message board!</h1>

  <!--This block tells about necessary messages, such as logout successful-->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% endwith %}
  
  {% if session.username %}
  <p>Hello {{ session.username }}</p>
  {% else %}
  <p>You are not logged in.</p>
  {% endif %}

  <h2>Latest posts:</h2>
  

</body>

</html>
