
<!--This block tells if registration was successful-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}
<h2>Log in</h2>

<form action="/login" method="post">
  <p>
    <label for="username">Username</label>: <br />
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label for="password">Password</label>: <br />
    <input type="password" name="password" id="password" />
  </p>
  <input type="submit" value="Login" />
</form>
{% endblock %}