{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <div class="profile">
        {% if user.profile_picture %}
            <img src="{{ url_for('static', filename='uploads/' + user.profile_picture) }}" alt="Profile Picture" class="profile-pic">
        {% else %}
            <img src="{{ url_for('static', filename='images/mysterious_avatar.jpg') }}" alt="Default Avatar" class="profile-pic">
        {% endif %}
        
        {% if session.username == user.username %}
        <a href="{{ url_for('edit_profile') }}">Edit My Profile</a>
        {% endif %}


        <h2>{{ user.full_name or 'Anonymous' }}</h2>
        <p>{{ user.username }}</p>

        <div class="info">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>University:</strong> {{ user.university }}</p>
            <p><strong>Bio:</strong> {{ user.bio or 'No bio provided.' }}</p>
            <p><strong>Time created:</strong> {{ user.created_at }}</p>
            {% if user.is_admin %}
                <p><strong>Role:</strong> Admin</p>
            {% endif %}
        </div>
{% endblock %}